@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

$font-family1: 'Silkscreen', sans-serif;
$font-family2: 'Orbitron', sans-serif;
$colorOne: #d9dad7;
$colorTwo: #c24d2c; 
$colorThree: #3e4a61;
$colorFour: #1a2639;