@use "./styles/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    background-color: $colorOne;
}

.appTitle {
    display: flex;
    justify-content:center;
    align-content: center;
    font-family: $font-family1;
    color: $colorTwo;
    font-size: 50px;
}